// Background colors
$color-bg-primary: #3450a1;
$color-bg-secondary: #041955;
$color-bg-thirdly: #eb06ff;

// Buttons
$color-btn-primary: #eb06ff;
$color-btn-secondary: #237afd;
$color-btn-primary-hover: #aa05b9;
$color-btn-secondary-hover: #1958b7;

// Links
$color-link: #eb06ff;

// Text colors
$color-text-primary: #fff;
$color-text-secondary: #92affa;
$color-text-thirdly: #97a0b8;
